.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 5px;
    color: #FE724C;
}

.firstTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #333333;
}

.secondTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: rgba(51, 51, 51, 0.7);
}

.cardsWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.image {
    width: 110px;
    height: 110px;
    background: #FE724C;
    opacity: 0.5;
    border-radius: 25px;
    margin-right: 20px;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #333333;
}

.cardPrice {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #333333;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(51, 51, 51, 0.1);
    border-radius: 30px;
    padding: 20px;
    margin: 0px 15px;
}

.line {
    border: 1px solid rgb(51 51 51 / 10%);
    width: 100%;
    margin-top: 39px;
}

.description {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: rgba(51, 51, 51, 0.7);
}

.buttonName {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    padding: 15px 45px;
    background: #FE724C;
    border-radius: 29px;
}
