.rootWrapper {
    display: grid;
    grid-template-columns: 4fr 5fr;
    padding-top: 77px;
    align-items: center;
}

.imageWrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.rootDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 135px;
}

.image {
    z-index: 2;
    padding-right: 95px;
}

.imageBackground {
    background-color: #FE724C;
    position: absolute;
    width: 705px;
    height: 561px;
    border-radius: 30px 0px 0px 30px;
    margin-left: 70px;
}

.topTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FE724C;
}

.firstTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #333333;
}

.secondTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #FE724C;
}

.body {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: rgba(51, 51, 51, 0.7);
    padding-top: 30px;
}

.button {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background-color: #FE724C;
    border-radius: 34px;
    width: 126px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 53px;
}
